---
import Hero from '@components/hero.astro';
import Slider from '@components/slider.astro';
import About from '@components/about.astro';
import Experience from '@components/experience.astro';
import Card from '@components/card.astro';
import Container from '@components/cardcontainer.astro';
import Layout from '@layouts/Layout.astro';

import '../styles/global.css';
---

<Layout>
	<Hero />
	<div id="void" class="h-20"></div>
	<section class="flex gap-8 mx-8 scroll-mt-20" id="about">
		<About />
		<Slider />
	</section>
	<Experience />
	<Container>
		<Card 
		title="Mi Sitio Web personal:"
		image="/assets/mywebpage1.png"
		description="Mi primer proyecto público. Fue un proyecto de aprendizaje para mejorar mis habilidades básicas en HTML, CSS y JavaScript."
		name="Saber más"
		url="https://rp0039.neocities.org/"
		lenguajes={["/icon/html5.svg", "/icon/css_old.svg", "/icon/javascript.svg"]}
		/>
		<Card 
		title="Mi Sitio Web personal:"
		image="/assets/mywebpage1.png"
		description="Mi primer proyecto público. Fue un proyecto de aprendizaje para mejorar mis habilidades básicas en HTML, CSS y JavaScript."
		name="Saber más"
		url="https://rp0039.neocities.org/"
		lenguajes={["/icon/html5.svg", "/icon/css_old.svg", "/icon/javascript.svg"]}
		/>
		<Card 
		title="Mi Sitio Web personal:"
		image="/assets/mywebpage1.png"
		description="Mi primer proyecto público. Fue un proyecto de aprendizaje para mejorar mis habilidades básicas en HTML, CSS y JavaScript."
		name="Saber más"
		url="https://rp0039.neocities.org/"
		lenguajes={["/icon/html5.svg", "/icon/css_old.svg", "/icon/javascript.svg"]}
		/>
	</Container>
</Layout>

