---
import Hero from '@components/hero.astro';
import Slider from '@components/slider.astro';
import Aside from '@components/aside.astro';
import Experience from '@components/experience.astro';
import Card from '@components/card.astro';
import Container from '@components/cardcontainer.astro';
import Layout from '@layouts/Layout.astro';

import '../styles/global.css';
---

<Layout>
	<Hero />
	<div id="void" class="h-20"></div>
	<section class="flex gap-8 p-4 scroll-mt-20" id="about">
		<Slider />
		<Aside />
	</section>
	<Experience />
	<Container>
		<Card 
		title="My Personal Webpage:"
		image="/assets/mywebpage1.png"
		description="My first public project in the internet"
		name="Saber más"
		url="https://rp0039.neocities.org/"
		lenguajes={["/icon/html5.svg", "/icon/css_old.svg", "/icon/javascript.svg"]}
		/>
		<Card 
		title="My Personal Webpage:"
		image="/assets/mywebpage1.png"
		description="My first public project in the internet"
		name="Saber más"
		url="https://rp0039.neocities.org/"
		/>
		<Card 
		title="My Personal Webpage:"
		image="/assets/mywebpage1.png"
		description="My first public project in the internet"
		name="Saber más"
		url="https://rp0039.neocities.org/"
		/>
	</Container>
</Layout>

