<section class="flex p-6 gap-6">
    <div class="flex flex-col gap-5 items-center">
        <img src="/assets/RP0039.webp" alt="A photo of myself" class="w-45 rounded-4xl">
        <div class="flex justify-center gap-5">
            <a href="https://www.linkedin.com/in/valentino-alejandro-rivero-6559393b4/" class="size-8">
                <img src="/icon/linkedin.svg" alt="Hire me">
            </a>
            <a href="https://github.com/RP0039" class="size-8">
                <img src="/icon/github_dark.svg" alt="See my projects">
            </a>
            <a href="https://drive.google.com/file/d/1FVMY2hBAI9pnpO8JtPZ4gBoAIUtPN66E/view?usp=drive_link" class="size-8">
                <img src="/icon/pdf.svg" alt="Curriculum CV">
            </a>
        </div>
        <p class="email">riveroval3984@gmail.com</p>
    </div>
    <article class="flex flex-col gap-5 items-start px-4">
        <h1 class="text-3xl font-bold text-amber-300 border-b-4 border-b-blue-500">
            <i class="fa-solid fa-person"></i>Aprende sobre mí :
        </h1>
        <p class="text-balance text-xl font-medium">
            Hola, soy Rivero Valentino, <span class="text-amber-200">desarrollador front-end con experiencia</span> en HTML, CSS, JavaScript y Astro, además de formación en robótica. Me enfoco en crear <span class="text-rose-300">interfaces limpias y rápidas, priorizando rendimiento y experiencia de usuario</span> en proyectos reales. <br><br>
            
           <span class="text-purple-400">Me interesa desarrollar soluciones eficientes y seguir creciendo </span> como programador, participando en proyectos que integren tecnología y creatividad.
        </p>
    </article>
</section>

<style>
    section {
        background-color: rgba(29, 29, 29, 0.26);
		background-attachment: blur(1em);
		color: #fff;
        border-radius: 20px;
        border: 1.5px solid #fafafa10;
        box-shadow: 6px 8px 17px 0px rgba(0, 0, 0, 0.63);
    }
    .email {
        background: rgba(17, 26, 34, 0.377);
		background-attachment: blur(1em);
		color: #fff;
        border-radius: 20px;
        border: 1.5px solid #fafafa10;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7), 0 1px rgba(255, 255, 255, 0.08);
        padding: 10px 18px;
        transition:all 1s;
    }
    .email:hover {
        scale:1.03;
    }
    a{
        transition:all 0.3s;
    }
    a:hover{
        scale: 1.1;
    }
</style>