---

---

<section class=" w-80 p-4">
    <img src="/assets/Amy.jpg" alt="A photo of myself">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus ad assumenda iusto. Saepe debitis unde facilis eum omnis optio?</p>
</section>

<style>
    section {
        background-color: rgba(0, 0, 0, 0.353);
		background-attachment: blur(1em);
		color: #fff;
        border-radius: 20px;
        border: 1.5px solid #fafafa10;
        box-shadow: 6px 8px 17px 0px rgba(0, 0, 0, 0.63);
        }
</style>