---

---
<main class="p-6">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quaerat accusamus sapiente aliquid pariatur quisquam earum omnis! Cupiditate, quae praesentium.</p>
</main>

<style>
    main {
        background-color: rgba(0, 0, 0, 0.103);
		background-attachment: blur(1em);
		color: #fff;
        border-radius: 20px;
        border: 1.5px solid #fafafa10;
        box-shadow: 6px 8px 17px 0px rgba(0, 0, 0, 0.63);
    }
</style>