---

---
<main class="m-8 p-8" id="projects">
	<h1 class="mb-6 text-4xl font-extrabold text-emerald-400">
		<i class="fa-solid fa-terminal"></i> Mis Proyectos
	</h1>
<section class="gap-13 scroll-mt-20">
    <slot />
</section> 
</main>


<style>
	section {
		display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
		grid-auto-rows: auto;
        align-items:start;
	}
	#projects {
		background: rgba(33, 51, 41, 0.219);
		background-attachment: blur(1em);
		color: #fff;
        border-radius: 20px;
        border: 1.5px solid #fafafa10;
        box-shadow: 6px 8px 17px 0px rgba(0, 0, 0, 0.63);
	}
</style>