---

---

<footer class="flex flex-col">
    <section class="relative">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
    </section>
    <section class="grid grid-col-1 grid-rows-2 w-full py-4 font-medium" id="footer">
        <article>
            <div class="pb-3 flex justify-center items-end border-b-2 border-b-black">
                <h1 class="text-5xl font-extrabold">Contacto</h1>
            </div>
    
            <div class="pt-5 mb-15 flex justify-center items-start">
                <h1 class="text-3xl font-medium">Te intereso mi Portfolio? Te invito a Contactarme.</h1>
            </div>
        </article>
        <div class="flex flex-col items-center gap-6">
            <article class="flex gap-4 text-3xl text-white">
                    <a href="">
                        <i class="fa-brands fa-linkedin" ></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
            </article>
            <div>
                <p>riveroval3984@gmail.com</p>
                <h2>©2026 Copyright: Valentino Rivero  </h2>
            </div>
        </div>
    </section>
</footer>

<style>
    article a {
        background:#111;
        padding: 10px 16px;
        transition: all 0.3s ease;
    }
    article a:hover {
        scale:1.2;
    }
    #footer { 
        background-color:white;
    }
    .wave {
        position:absolute;
        bottom:0; left:0;
        background-image: url(/assets/wave.webp);
        background-size: 1000px 160px;
        height:160px;
        width:100%;
        z-index:-999;
    }
    .wave1{ 
        opacity:1;
        animation-delay: -3s;
        animation: wave 17s ease-in-out infinite;
    }
    .wave2{ 
        opacity:0.5;
        animation-delay: 5s;
        animation: wave 12s ease-in-out infinite;
    }
    .wave3{ 
        opacity:0.7;
        animation-delay: -2s;
        animation: wave 10s linear infinite reverse;
    }
    @keyframes wave {
        0% {
            background-position: 0;
        }
        100% {
            background-position: 1000px;
        }
    }
</style>