---

---

<header class="fixed top-0 w-full flex justify-center mt-6 mb-20">
    <nav class="flex justify-center items-center gap-8 font-medium text-xl py-4 px-6">
        <a href="#hero">
            <img src="/icon/github_dark.svg" alt="RP0039">
            RP0039
        </a>
        
        <a href="#about">
            <img src="/icon/github_dark.svg" alt="RP0039">
            About
        </a>
        
        <a href="#experience">
            <img src="/icon/github_dark.svg" alt="RP0039">
            Experience
        </a>
        
        <a href="#projects">
            <img src="/icon/github_dark.svg" alt="RP0039">
            Projects
        </a>
    </nav>
</header>

<style>
    nav {
        border:2px solid #fafafa23;
        border-radius: 28px;
        background: rgba(12, 12, 12, 0.412);
        backdrop-filter: blur(0.2em);
        color:#dfdfdf;
    }
    img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    a {
        display: flex;
        align-items: center;
   }
</style>