---

---

<header class="fixed top-0 w-full flex justify-center mt-6 mb-20">
    <nav class="flex justify-center items-center gap-8 font-medium text-xl py-4 px-6">
        <a class="mr-8" href="#hero">
            <img src="/icon/github_dark.svg" alt="RP0039 // Hero">
            RP0039
        </a>
        
        <a href="#about">
            <img src="/icon/about.svg" alt="Sobre mí">
            About
        </a>
        
        <a href="#experience">
            <img class="exp" src="/icon/experience.svg" alt="mis experiencias de trabajo / aprendizaje">
            Experience
        </a>
        
        <a href="#projects">
            <img src="/icon/projects.svg" alt="Listado de proyectos realizados">
            Projects
        </a>
    </nav>
</header>

<style>
    nav {
        border:2px solid #fafafa23;
        border-radius: 28px;
        background: rgba(29, 49, 50, 0.412);
        backdrop-filter: blur(0.2em);
        color:#dfdfdf;
    }
    img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    .exp {
        width: 28px;
        height: 28px;
    }
    a {
        display: flex;
        align-items: center;
   }
</style>