---

---

<section class="flex flex-col justify-center items-center h-100 mt-25 scroll-mt-20 mx-4" id="hero">
    <div>
        <p class="text-6xl font-bold">
            Hi,<br> I'm RP0039 <br> <span class="text-amber-300 font-medium">Front-end Developer</span>
        </p>
    </div>
</section>

<style>
    section {
        color:white
        }
</style>

