---

---

<section class="flex flex-col justify-center items-center h-100 mt-25 scroll-mt-20" id="hero">
    <div>
        *icon or photo*
    </div>
    <div>
        <h2 class="text-center">Welcome to <i class="text-xl">RP0039's Portfolio</i></h2>
        <p><span class="text-amber-300 font-bold">Frontend Developer</span> <br>
           estudiante de forma autodidacta.
        </p>
    </div>
</section>

<style>
    section {
        background: linear-gradient(180deg, rgba(171, 10, 211, 0.795), rgba(196, 23, 144, 0.925), rgb(204, 17, 120));
    }
</style>