---

---

<section class="flex flex-col justify-center items-center h-100 mt-20 mx-8" id="hero">
    <div>
        <p class="text-5xl font-bold">
            Hola,<br> Soy Valentino <br> <span class="text-6xl text-amber-300 font-medium">Front-end Developer</span>
        </p>
    </div>
</section>

<style>
    section {
        color:white
        }
</style>

