---

---

<section class="flex flex-col justify-center items-center h-100 mt-25 scroll-mt-20 mx-4" id="hero">
    <div>
        *icon or photo*
    </div>
    <div class="prose">
        <h2 class="text-center">Welcome to <i class="text-xl">RP0039's Portfolio</i></h2>
        <p><span class="text-amber-300 font-bold">Frontend Developer</span> <br>
           estudiante de forma autodidacta.
        </p>
    </div>
</section>

<style>
    section {
        background: rgb(17, 26, 34);
		background-attachment: blur(1em);
		color: #fff;
        border-radius: 20px;
        border: 1.5px solid #fafafa10;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7), 0 1px rgba(255, 255, 255, 0.08);
        }
</style>

