---

---

<section class="flex flex-col gap-3 min-w-90 p-6">
    <h1 class="text-3xl text-white mx-auto">News</h1>
    <img src="/assets/Amy.jpg" alt="A photo of myself" class="h-40 w-full">
    <div>
        <h3>Example:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</section>

<style>
    section {
        background-color: rgba(29,29,29,0.26);
		background-attachment: blur(1em);
		color: #fff;
        border-radius: 20px;
        border: 1.5px solid #fafafa10;
        box-shadow: 6px 8px 17px 0px rgba(0, 0, 0, 0.63);
        }
</style>